@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial.woff2');
}

@font-face {
    font-family: 'Arial';
    font-weight: bold;
    src: url('../fonts/Arial Bold.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial Narrow.woff2');
}

@font-face {
    font-family: 'Arial Narrow';
    font-weight: bold;
    src: url('../fonts/Arial Narrow Bold.woff2');
}

@font-face {
    font-family: 'Asterisk';
    src: url('../fonts/Asterisk.woff2');
}

@font-face {
    font-family: 'Burbank Big Regular';
    font-weight: bold;
    src: url('../fonts/Burbank Big Regular Bold.woff2');
}

@font-face {
    font-family: 'Burbank Big Regular Black';
    src: url('../fonts/Burbank Big Regular Black.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/Burbank Small Medium.woff2');
}

@font-face {
    font-family: 'Burbank Small';
    font-weight: bold;
    src: url('../fonts/Burbank Small Bold.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    src: url('../fonts/CCComicrazy-Roman.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    font-weight: bold;
    src: url('../fonts/CCComicrazy_Bold.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/CCComicrazy Bold Italic.woff2');
}

@font-face {
    font-family: 'CCComiccrazy';
    font-style: italic;
    src: url('../fonts/CCComicrazy Italic.woff2');
}

@font-face {
    font-family: 'CCFaceFront';
    src: url('../fonts/CCFaceFront.woff2');
}

@font-face {
    font-family: 'CCFaceFront';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/CCFaceFront Bold Italic.woff2');
}

@font-face {
    font-family: 'CPLCD';
    src: url('../fonts/CPLCD.woff2');
}

@font-face {
    font-family: 'Burbank Big Wide';
    src: url('../fonts/Burbank Big Wide.woff2');
}

@font-face {
    font-family: 'Burbank Big Wide';
    src: url('../fonts/Burbank Big Wide Bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Pumpkin';
    src: url('../fonts/Pumpkin.woff2');
}